!invert caps_lock and escape keys
clear Lock
keycode 66 = Escape NoSymbol Escape
keycode 9 = Caps_Lock NoSymbol Caps_Lock
add Lock = Caps_Lock

!put a second alt_gr(mod5) on super, super(mod4) on menu and menu on alt_gr menu
clear mod4
clear mod5
keycode 133 = ISO_Level3_Shift NoSymbol ISO_Level3_Shift
keycode 135 = Super_L Menu Super_L Menu
add mod4 = Super_L Super_R
add mod5 = ISO_Level3_Shift Mode_switch
