!Remap all modifiers
clear lock
clear shift
clear mod5
remove shift = Shift_L
remove shift = Shift_R
keycode 66 = ISO_Level3_Shift ISO_Level3_Shift ISO_Level3_Lock ISO_Level3_Lock
keycode 51 = ISO_Level3_Shift ISO_Level3_Lock ccedilla Ccedilla
keycode 49 = Mode_switch
keycode 50 = Shift_L Caps_Lock
keycode 62 = Shift_R Caps_Lock
add lock = Caps_Lock
add shift = Shift_L Shift_R
add mod5 = ISO_Level3_Shift

!Remap  special keys
keycode 35 = Escape
keycode 21 = Delete
keycode 65 = space nobreakspace space nobreakspace space U202F space U202F
keycode 108 = BackSpace

!Remap symbol line
keycode 10 = asciicircum dead_circumflex NoSymbol NoSymbol percent permille 
keycode 11 = less leftdoublequotemark NoSymbol NoSymbol guillemotleft lessthanequal
keycode 12 = greater rightdoublequotemark NoSymbol NoSymbol guillemotright greaterthanequal
keycode 13 = parenleft at NoSymbol NoSymbol
keycode 14 = parenright dead_greek NoSymbol NoSymbol
keycode 15 = Multi_key EuroSign NoSymbol NoSymbol dead_currency
keycode 16 = plus dead_caron NoSymbol NoSymbol plus plusminus
keycode 17 = minus underscore NoSymbol NoSymbol minus
keycode 18 = slash numbersign NoSymbol NoSymbol slash
keycode 19 = asterisk exclam NoSymbol NoSymbol asterisk exclamdown
keycode 20 = dollar dead_diaeresis NoSymbol NoSymbol degree dead_abovedot

!Remap top letter line
keycode 28 = egrave Egrave NoSymbol NoSymbol grave dead_grave
keycode 29 = dead_circumflex dead_caron period
keycode 30 = v V Home Home 6 6 Home Home
keycode 31 = d D End End 7 7 End End
keycode 32 = l L NoSymbol NoSymbol 8 8
keycode 33 = j J NoSymbol NoSymbol 9 9
keycode 34 = z Z NoSymbol NoSymbol equal equal

!Remap middle letter line
keycode 40 = i I NoSymbol NoSymbol idiaeresis Idiaeresis
keycode 41 = e E NoSymbol NoSymbol ecircumflex Ecircumflex
keycode 43 = c C Left Left 0 0 Left Left
keycode 44 = t T Down Down 1 1 Down Down
keycode 45 = s S Up Up 2 2 Up Up
keycode 46 = r R Right Right 3 3 Right Right
keycode 47 = n N NoSymbol NoSymbol 4 4
keycode 48 = m M NoSymbol NoSymbol 5 5

!Remap bottom letter line
keycode 94 = k K NoSymbol NoSymbol slash dead_stroke
keycode 56 = w W NoSymbol NoSymbol asciitilde
keycode 57 = apostrophe question NoSymbol NoSymbol quotedbl questiondown
keycode 58 = q Q NoSymbol NoSymbol parenleft parenleft Prior Prior Prior Prior
keycode 59 = g G NoSymbol NoSymbol bracketleft bracketleft Next Next Next Next
keycode 60 = h H NoSymbol NoSymbol bracketright bracketright
keycode 61 = f F NoSymbol NoSymbol parenright parenright
